<!DOCTYPE html>
<html ng-jq class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/ui-box.css">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/ui-base.css">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/ui-color.css">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/appcan.icon.css">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/appcan.control.css">
    <link rel="stylesheet" href="../vendor/angular/angular-csp.css"/>
    <!---->
    <link rel="stylesheet" href="../vendor/appcan-base/css/bundle.nec.size.css"/>
    <link rel="stylesheet" href="../css/lib.css"/>
    <link rel="stylesheet" href="../css/DoctorList.css"/>
</head>
<body class="um-vp" ontouchstart ng-controller="GlbController" ng-click="closeFilter($event)">

<div id="g-filter-page" class="g-filter-page z-active"
     ng-click="stopPropagation($event)"
     ng-swipe-right="closeFilter()">
    <div class="m-filter-page">
        <div class="mt43 lh46 fs24 c-3">医生名</div>
        <input type="text" placeholder="未填写" ng-model="Data._doctorName" class="bd1 bdr-lg pd19 lh30 fs24 c-9 mb26 reset-input input-full"/>

        <div class="lh46 fs24 c-3">患者名</div>
        <input type="text" placeholder="未填写" ng-model="Data._patientName" class="bd1 bdr-lg pd19 lh30 fs24 c-9 mb26 reset-input input-full"/>

        <div class="lh46 fs24 c-3">癌种</div>
        <input type="text" readonly placeholder="未选择" ng-click="openCancerSelect()" ng-model="Data._tomourName" class="bd1 bdr-lg pd19 lh30 fs24 c-9 mb26 icon-arrow-r reset-input input-full"/>

        <div class="lh46 fs24 c-3 mt50">状态</div>
        <div class="m-filter-page-stat fs28">
            <div class="ub mb50">
                <a href="javascript:" class="ub ub-ac ub-pc ub-f1 f-tdn mr38" ng-class="{'z-active':Data._state==-1}" ng-click="Data._state=-1">全部</a>
                <a href="javascript:" class="ub ub-ac ub-pc ub-f1 f-tdn" ng-class="{'z-active':Data._state==0}" ng-click="Data._state=0">待审核</a>
            </div>
            <div class="ub">
                <a href="javascript:" class="ub ub-ac ub-pc ub-f1 f-tdn mr38" ng-class="{'z-active':Data._state==1}" ng-click="Data._state=1">审核通过</a>
                <a href="javascript:" class="ub ub-ac ub-pc ub-f1 f-tdn" ng-class="{'z-active':Data._state==2}" ng-click="Data._state=2">审核不通过</a>
            </div>
        </div>
    </div>

    <div class="m-filter-page-fbtn ub h87">
        <a href="javascript:" ng-click="filterClear()" class="ub-f1 ub ub-ac ub-pc f-tdn fs30 c-f bg-muted">清空</a>
        <a href="javascript:" ng-click="filterConfirm()" class="ub-f1 ub ub-ac ub-pc f-tdn fs30 c-f bg-positive">确认</a>
    </div>
</div>

<script src="../vendor/appcan-fesdk/js/appcan.js"></script>
<script src="../vendor/appcan-fesdk/js/appcan.control.js"></script>
<script src="../vendor/angular/angular.min.js"></script>
<script src="../vendor/angular-touch/angular-touch.min.js"></script>
<script src="../vendor/simcere/js/config.js"></script>
<script src="../js/lib.js"></script>
<script src="../js/ng.js"></script>
<script src="../js/ng.CycleListFilter.js"></script>
<script>
    appcan.ready(function () {
        angular.bootstrap(document.documentElement, ['myApp']);
    });

</script>
</body>
</html>
