<!DOCTYPE html>
<html ng-jq class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/ui-box.css">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/ui-base.css">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/ui-color.css">
    <!--<link rel="stylesheet" href="../vendor/appcan-fesdk/css/appcan.icon.css">-->
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/appcan.control.css">
    <link rel="stylesheet" href="../vendor/angular/angular-csp.css"/>
    <!---->
    <link rel="stylesheet" href="../vendor/appcan-base/css/bundle.nec.size.css"/>
    <link rel="stylesheet" href="../css/lib.css"/>

</head>
<body class="um-vp bc-bg" ontouchstart ng-controller="GlbController">

<div class="g-search ph30 pv20 bg-light bd-b">
    <form action="javascript:;" ng-submit="search()" class="m-search ub ub-ac h60 bg-gray">
        <div class="icon-search w24 h24 pd15 ml12" ng-click="search()"></div>
        <input type="search" placeholder="查询医生" ng-model="Data.keyword" class="reset-input ub-f1 pd15 pl5 fs24"/>
    </form>
</div>

<div class="g-list bg-light" ng-controller="ItemListController">
    <!--spinner-->
    <div class="g-spinner" ng-hide="Data.itemList.length||Data.itemListEmpty||Data.itemListErr"><i class="fa fa-spinner fa-spin"></i></div>
    <div class="g-req-empty text-muted ng-hide" ng-show="Data.itemListEmpty">暂无数据</div>
    <div class="g-req-error text-muted ng-hide" ng-show="Data.itemListErr">查询失败</div>

    <!--item-->
    <div class="m-hospital ph19 pv16 ub ub-ac bd-b ng-hide" ng-click="useDoctor(item)" ng-show="Data.itemList.length" ng-repeat="item in Data.itemList">
        <div class="fi fi-doctor w36 h36 mr5"></div>
        <div class="fs24 c-3 lh45 mr5" ng-bind="item.name">张医生</div>
        <div class="ub-f1"></div>
        <div class="fs24 c-9 lh45" ng-bind="item.hospitalName">南京妇幼保健第二人民医院</div>
    </div>
    
</div>

<script src="../vendor/appcan-fesdk/js/appcan.js"></script>
<script src="../vendor/appcan-fesdk/js/appcan.control.js"></script>
<script src="../vendor/simcere/js/config.js"></script>
<script src="../vendor/angular/angular.js"></script>
<script src="../js/lib.js"></script>
<script src="../js/ng.DoctorSelect.js"></script>
<script>
    appcan.ready(function () {
//        appcan.initBounce();
        angular.bootstrap(document.documentElement, ['myApp']);
    });


</script>
</body>
</html>
