<!DOCTYPE html>
<html ng-jq class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/ui-box.css">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/ui-base.css">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/ui-color.css">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/appcan.icon.css">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/appcan.control.css">
    <link rel="stylesheet" href="../vendor/angular/angular-csp.css"/>
    <!---->
    <link rel="stylesheet" href="../vendor/appcan-base/css/bundle.nec.size.css"/>
    <link rel="stylesheet" href="../css/lib.css"/>

</head>
<body class="um-vp bc-bg" ontouchstart ng-controller="GlbController">

<div class="g-main pv32 ph20">
    <div class="m-list-group bd1 bdr-lg f-oh bg-light gap-b">
        <!--item-->
        <div class="ub ub-ac m-list-item h69 ph19 bd-b">
            <div class="u-icon w32 h32 fi fi-huanzhe"></div>
            <div class="ph18 fs24 c-3">姓名</div>
            <input type="text" ng-model="Data.name" placeholder="未填写(必填)" value="" class="ub-f1 reset-input f-tar ph12 fs24 "/>

            <div class="icon-arrow-r f-ivh"></div>
        </div>
        <!--item-->
        <div class="ub ub-ac m-list-item h69 ph19 bd-b">
            <div class="u-icon w32 h32 fi fi-xingbie"></div>
            <div class="ph18 fs24 c-3">性别</div>
            <div class="fs24 c-9 ub-f1">(必填)</div>
            <!--switch-->
            <div class="ub m-switch-radius">
                <div class="ub-f1 ng-hide"
                     ng-class="{'z-active':item.rowId==Data.sex}"
                     ng-show="Data.genderOptions.length"
                     ng-bind="item.name"
                     ng-repeat="item in Data.genderOptions"
                     ng-click="setSelectedGender(item)">男</div>
            </div>
            <div class="icon-arrow-r f-ivh"></div>
        </div>
        <!--item-->
        <div class="ub ub-ac m-list-item h69 ph19 bd-b">
            <div class="u-icon w32 h32 fi fi-shenfenzheng"></div>
            <div class="ph18 fs24 c-3">身份证号</div>
            <input type="text" ng-model="Data.idcard" placeholder="未填写(必填)" class="ub-f1 reset-input f-tar ph12 fs24 "/>

            <div class="icon-arrow-r f-ivh"></div>
        </div>
        <!--item-->
        <div class="ub ub-ac m-list-item h69 ph19 bd-b">
            <div class="u-icon w32 h32 fi fi-nianling"></div>
            <div class="ph18 fs24 c-3">年龄</div>
            <input type="text" ng-model="Data.age" placeholder="未填写(必填)" class="ub-f1 reset-input f-tar ph12 fs24 "/>

            <div class="icon-arrow-r f-ivh"></div>
        </div>
        <!--item-->
        <div class="ub ub-ac m-list-item h69 ph19 bd-b">
            <div class="u-icon w32 h32 fi fi-lianxifangshi"></div>
            <div class="ph18 fs24 c-3">联系方式</div>
            <input type="text" ng-model="Data.mobile" placeholder="未填写" class="ub-f1 reset-input f-tar ph12 fs24 "/>

            <div class="icon-arrow-r f-ivh"></div>
        </div>
        <!--item-->
        <!--省市县必填-->
        <!--详细地址非必填-->
        <div class="ub ub-ac m-list-item h69 ph19"  ng-click="openAddressSelect()">
            <div class="u-icon w32 h32 fi fi-lianxidizhi"></div>
            <div class="ph18 fs24 c-3">联系地址</div>
            <input type="text" ng-model="Data.ssqxView" readonly placeholder="未设置(必填)" class="ub-f1 reset-input f-tar ph12 fs24 "/>

            <div class="icon-arrow-r"></div>
        </div>
    </div>

    <div class="m-list-group bd1 bdr-lg f-oh bg-light gap-b">
        <!--item-->
        <div class="ub ub-ac m-list-item h69 ph19 bd-b">
            <div class="u-icon w32 h32 fi fa-money"></div>
            <div class="ph18 fs24 c-3">夫妻双方年总收入</div>
            <input type="number" onkeyup="value=value.replace(/[^\-?\d.]/g,'')" ng-model="Data.saIncome" placeholder="未填写" class="ub-f1 reset-input f-tar ph12 fs24 "/>
            <div class="fs24 c-3">万元</div>
            <div class="icon-arrow-r f-ivh"></div>
        </div>
        <!--item-->
        <div class="ub ub-ac m-list-item h69 ph19 bd-b">
            <div class="u-icon w32 h32 fi fa-money"></div>
            <div class="ph18 fs24 c-3">其余直系亲属年总收入</div>
            <input type="number" onkeyup="value=value.replace(/[^\-?\d.]/g,'')" ng-model="Data.lcaIncome" placeholder="未填写" class="ub-f1 reset-input f-tar ph12 fs24 "/>
            <div class="fs24 c-3">万元</div>
            <div class="icon-arrow-r f-ivh"></div>
        </div>
        <!--item-->
        <div class="ub ub-ac m-list-item h69 ph19 bd-b">
            <div class="u-icon w32 h32 fi fi-yibaoleixing"></div>
            <div class="ph18 fs24 c-3 ub-f1">是否享受医保</div>
            <!--switch-->
            <div class="ub m-switch-radius">
                <div class="ub-f1 ng-hide"
                     ng-class="{'z-active':item.rowId==Data.isEmi}"
                     ng-show="Data.isEmiOptions.length"
                     ng-bind="item.name"
                     ng-repeat="item in Data.isEmiOptions"
                     ng-click="setIsEmi(item)">是</div>
            </div>
            <div class="icon-arrow-r f-dn"></div>
        </div>
        <!--享受医保展示--->
        <div class="ub ub-ac m-list-item h69 ph19 bd-b ng-hide" ng-show="Data.isEmiName == '是'"  ng-click="setMiArea()">
            <div class="u-icon w32 h32 fi fi-lianxidizhi"></div>
            <div class="ph18 fs24 c-3">医保所属地</div>
            <input type="text" ng-model="Data.miArea" readonly placeholder="未设置(必填)" class="ub-f1 reset-input f-tar ph12 fs24 "/>

            <div class="icon-arrow-r"></div>
        </div>
        <!--item-->
        <div class="ub ub-ac m-list-item h69 ph19 bd-b ng-hide" ng-show="Data.isEmiName == '是'" ng-click="openYbTypeSelect()">
            <div class="u-icon w32 h32 fi fi-yibaoleixing"></div>
            <div class="ph18 fs24 c-3">医保类型</div>
            <input type="text" ng-model="Data.mitypeName" readonly placeholder="未选择" class="ub-f1 reset-input f-tar ph12 fs24 "/>

            <div class="icon-arrow-r"></div>
        </div>
        <!--选择其他保险的时候显示-->
        <div class="ub ub-ac m-list-item h69 ph19 bd-b ng-hide" ng-show="Data.isEmiName == '是' && Data.mitypeName=='其他'">
            <div class="u-icon w32 h32 fi fi-qitabaoxianmingcheng"></div>
            <div class="ph18 fs24 c-3">其他保险名称</div>
            <input type="text" ng-model="Data.otherIns" placeholder="未填写" class="ub-f1 reset-input f-tar ph12 fs24 "/>

            <div class="icon-arrow-r f-ivh"></div>
        </div>
        <!--item-->
        <div class="ub ub-ac m-list-item h69 ph19 bd-b">
            <div class="u-icon w32 h32 fi fi-yysjd"></div>
            <div class="ph18 fs24 c-3 ub-f1">是否需要预约编号</div>
            <!--switch-->
            <div class="ub m-switch-radius">
                <div class="ub-f1 ng-hide"
                     ng-class="{'z-active':item.rowId==Data.isRnum}"
                     ng-show="Data.isRnumOptions.length"
                     ng-bind="item.name"
                     ng-repeat="item in Data.isRnumOptions"
                     ng-click="setIsRnum(item)">是</div>
            </div>
            <div class="icon-arrow-r f-dn"></div>
        </div>
        <!--选择预约编号后展示-->
        <div class="ub ub-ac m-list-item h69 ph19 bd-b ng-hide" ng-show="Data.isRnumName == '是'">
            <div class="u-icon w32 h32 fi fi-aizhong"></div>
            <div class="ph18 fs24 c-3 ub-f1">是否肺癌</div>
            <!--switch-->
            <div class="ub m-switch-radius">
                <div class="ub-f1 ng-hide"
                     ng-class="{'z-active':item.rowId==Data.isLcancer}"
                     ng-show="Data.isLcancerOptions.length"
                     ng-bind="item.name"
                     ng-repeat="item in Data.isLcancerOptions"
                     ng-click="setIsLcancer(item)">是</div>
            </div>
            <div class="icon-arrow-r f-dn"></div>
        </div>
        <!--item-->
        <div class="ub ub-ac m-list-item h69 ph19 ng-hide" ng-show="Data.isRnumName == '是'" ng-click="openDoctorSelect()">
            <div class="u-icon w32 h32 fi fi-yisheng"></div>
            <div class="ph18 fs24 c-3">项目医生</div>
            <input type="text" ng-model="Data.projDocName" readonly placeholder="未选择" class="ub-f1 reset-input f-tar ph12 fs24 "/>

            <div class="icon-arrow-r"></div>
        </div>
        
    </div>

    <!---->
    <div class="g-card-img bdr-lg f-oh bd1 bg-light pd22 gap-b">
        <div class="m-card-img">
            <div class="mb30 fs24 c-3">身份证正反面照</div>
            <div class="f-cb mb-quits" id="id3">
                <div class="u-card-img-item bdr-lg f-oh icon-camera-p" ng-click="addImage(Data, 'idcardFiles')"></div>
                <!--item-->
                <div class="u-card-img-item bdr-lg bd1 ng-hide" ng-show="Data.idcardFilesView.length" ng-repeat="item in Data.idcardFilesView">
                    <img ng-src="{{item}}" ng-click="ngqViewImages({urls:Data.idcardFilesView,url:item})" alt="" class="f-vam img-full bdr-lg"/>
                    <i class="u-card-img-rm" ng-click="ngqRemoveImage(Data, 'idcardFiles', $index)"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="g-card-img bdr-lg f-oh bd1 bg-light pd22 gap-b">
        <div class="m-card-img">
            <div class="mb30 fs24 c-3">户口簿首页照、患者本人页和直系亲属页照</div>
            <div class="f-cb mb-quits">
                <div class="u-card-img-item bdr-lg f-oh icon-camera-p" ng-click="addImage(Data, 'hkFiles')"></div>
                <!--item-->
                <div class="u-card-img-item bdr-lg bd1 ng-hide" ng-show="Data.hkFilesView.length" ng-repeat="item in Data.hkFilesView">
                    <img ng-src="{{item}}" ng-click="ngqViewImages({urls:Data.hkFilesView,url:item})" alt="" class="f-vam img-full bdr-lg"/>
                    <i class="u-card-img-rm" ng-click="ngqRemoveImage(Data, 'hkFiles', $index)"></i>
                </div>
            </div>
        </div>
    </div>

    
</div>

<script src="../vendor/appcan-fesdk/js/appcan.js"></script>
<script src="../vendor/appcan-fesdk/js/appcan.control.js"></script>
<script src="../vendor/angular/angular.min.js"></script>
<script src="../vendor/simcere/js/config.js"></script>
<script src="../js/lib.js"></script>
<script src="../js/main.js"></script>
<script src="../js/ng.js"></script>
<script src="../js/ng.PatientCreate.js"></script>
<script>
    appcan.ready(function () {
//        appcan.initBounce();
        angular.bootstrap(document.documentElement, ['myApp']);
    });
    
    function openMiArea(e) {
      if ("undefined" == typeof uexWheelPickView) return void e({
        data: ["江苏省", "南京市"],
        index: [0, 0]
      });
      var i = {
          src: "wgt://data/ssq.json",
          select: [0, 0]
        },
        n = JSON.stringify(i);
      uexWheelPickView.onConfirmClick = function(i) {
        var n = i.replace(/'/g, '"'),
          s = JSON.parse(n);
        e(s)
      }, uexWheelPickView.open(n)
    }
    
    
</script>
</body>
</html>
