<!DOCTYPE html>
<html ng-jq class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/ui-box.css">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/ui-base.css">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/ui-color.css">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/appcan.icon.css">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/appcan.control.css">
    <link rel="stylesheet" href="../vendor/angular/angular-csp.css"/>
    <!---->
    <link rel="stylesheet" href="../vendor/appcan-base/css/bundle.nec.size.css"/>
    <link rel="stylesheet" href="../css/lib.css"/>

</head>
<body class="um-vp bc-bg" ontouchstart ng-controller="GlbController">

<div class="g-main pv32 ">
    <div class="m-list-group bd1  f-oh bg-light gap-b">
        <!--item-->
        <div class="ub ub-ac m-list-item h69 ph19 bd-b">
            <div class="u-icon w32 h32 fi fi-huanzhe"></div>
            <div class="ph18 fs24 c-3">患者</div>
            <input type="text" ng-model="Data.yycase.patientName" readonly="" placeholder="未填写(必填)" value="" class="ub-f1 reset-input f-tar ph12 fs24 "/>

            <div class="icon-arrow-r f-dn"></div>
        </div>
        <!--item-->
        <div class="ub ub-ac m-list-item h69 ph19 bd-b">
            <div class="u-icon w32 h32 fi fi-yiyuan"></div>
            <div class="ph18 fs24 c-3">医院</div>
            <input type="text" ng-model="Data.yycase.hospitalName" readonly="" placeholder="未填写(必填)" value="" class="ub-f1 reset-input f-tar ph12 fs24 "/>

            <div class="icon-arrow-r f-dn"></div>
        </div>
        <!--item-->
        <div class="ub ub-ac m-list-item h69 ph19 bd-b">
            <div class="u-icon w32 h32 fi fi-keshi"></div>
            <div class="ph18 fs24 c-3">科室</div>
            <input type="text" ng-model="Data.yycase.deptName" readonly="" placeholder="未填写(必填)" value="" class="ub-f1 reset-input f-tar ph12 fs24 "/>

            <div class="icon-arrow-r f-dn"></div>
        </div><!--item-->
        <div class="ub ub-ac m-list-item h69 ph19 bd-b">
            <div class="u-icon w32 h32 fi fi-yisheng"></div>
            <div class="ph18 fs24 c-3">医生</div>
            <input type="text" ng-model="Data.yycase.doctorName" readonly="" placeholder="未填写(必填)" value="" class="ub-f1 reset-input f-tar ph12 fs24 "/>

            <div class="icon-arrow-r f-dn"></div>
        </div>
        <!--item-->
        <div class="ub ub-ac m-list-item h69 ph19">
            <div class="u-icon w32 h32 fi fi-bingli"></div>
            <div class="ph18 fs24 c-3">疾病诊断</div>
            <input type="text" ng-model="Data.yycase.diseaseDiagName" readonly="" placeholder="未填写(必填)" value="" class="ub-f1 reset-input f-tar ph12 fs24 "/>

            <div class="icon-arrow-r f-dn"></div>
        </div>
    </div>

    <div class="m-list-group bd1  f-oh bg-light gap-b">
        <div class="ub ub-ac m-list-item h69 ph19 bd-b">
            <div class="u-icon w32 h32 fi bg-positive"></div>
            <div class="ph18 fs24 c-3">病理学/或细胞学/组织学诊断或升级</div>
            <input type="text" ng-model="Data.yycase.cytologyGradeName" readonly="" placeholder="未填写" class="ub-f1 reset-input f-tar ph12 fs24 "/>

            <div class="icon-arrow-r f-ivh"></div>
        </div>
        <!--item-->
        <div class="ub ub-ac m-list-item h69 ph19 bd-b">
            <div class="u-icon w32 h32 fi bg-positive"></div>
            <div class="ph18 fs24 c-3">临床分期</div>
            <input type="text" ng-model="Data.yycase.clinicalStagesName" readonly="" placeholder="未填写" class="ub-f1 reset-input f-tar ph12 fs24 "/>

            <div class="icon-arrow-r f-ivh"></div>
        </div>
        <!--item-->
        <div class="ub ub-ac m-list-item h69 ph19 bd-b">
            <div class="u-icon w32 h32 fi fi-huanzhe"></div>
            <div class="ph18 fs24 c-3">EGFR检测</div>
            <input type="text" ng-model="Data.yycase.egrfName" readonly="" placeholder="未填写(必填)" value="" class="ub-f1 reset-input f-tar ph12 fs24 "/>

            <div class="icon-arrow-r f-dn"></div>
        </div>
        <!--item-->
        <div class="ub ub-ac m-list-item h69 ph19 bd-b">
            <div class="u-icon w32 h32 fi fi-huanzhe"></div>
            <div class="ph18 fs24 c-3">治疗方案</div>
            <input type="text" ng-model="Data.yycase.RegimenName" readonly="" placeholder="未填写(必填)" value="" class="ub-f1 reset-input f-tar ph12 fs24 "/>

            <div class="icon-arrow-r f-dn"></div>
        </div>
        <!--item-->
        <div class="ub ub-ac m-list-item h69 ph19">
            <div class="u-icon w32 h32 fi fi-huanzhe"></div>
            <div class="ph18 fs24 c-3">化疗方案</div>
            <input type="text" ng-model="Data.yycase.chemoRegimenName" readonly="" placeholder="未填写(必填)" value="" class="ub-f1 reset-input f-tar ph12 fs24 "/>

            <div class="icon-arrow-r f-dn"></div>
        </div>
        <div class="ub ub-ac m-list-item h69 ph19 bd-b ng-hide" ng-show="Data.yycase.pd">
            <div class="u-icon w32 h32 fi fi-huanzhe"></div>
            <div class="ph18 fs24 c-3">诊疗周期</div>
            <input type="text" placeholder="未填写(必填)" ng-model="Data.yycase.pd" readonly class="ub-f1 reset-input f-tar ph12 fs24 "/>
            <div class="icon-arrow-r f-dn"></div>
        </div>
    </div>

    <!---->
    <div class="g-card-img  f-oh bd1 bg-light pd22 gap-b">
        <div class="m-card-img">
            <div class="mb30 fs24 c-3">病理报表扫描件</div>
            <div class="f-cb mb-quits">
                <!--item-->
                <div class="u-card-img-item bdr-lg bd1 ng-hide" ng-show="Data.yycase.caseRepFilesView.length" ng-repeat="item in Data.yycase.caseRepFilesView">
                    <img ng-src="{{item}}" ng-click="ngqViewImages({urls:Data.yycase.caseRepFilesView,url:item})" alt="" class="f-vam img-full bdr-lg"/>
                </div>
                <div class="ng-hide u-img-list-empty" ng-show="!Data.yycase.caseRepFilesView.length">未上传</div>
            </div>
        </div>
    </div>

    <div class="g-card-img  f-oh bd1 bg-light pd22 gap-b">
        <div class="m-card-img">
            <div class="mb30 fs24 c-3">胸部CT报告（治疗前）</div>
            <div class="f-cb mb-quits">
                <!--item-->
                <div class="u-card-img-item bdr-lg bd1 ng-hide" ng-show="Data.yycase.chestCTBFilesView.length" ng-repeat="item in Data.yycase.chestCTBFilesView">
                    <img ng-src="{{item}}" ng-click="ngqViewImages({urls:Data.yycase.chestCTBFilesView,url:item})" alt="" class="f-vam img-full bdr-lg"/>
                </div>
                <div class="ng-hide u-img-list-empty" ng-show="!Data.yycase.chestCTBFilesView.length">未上传</div>
            </div>
        </div>
    </div>
    
    <div class="g-card-img  f-oh bd1 bg-light pd22 gap-b">
        <div class="m-card-img">
            <div class="mb30 fs24 c-3">胸部CT报告（治疗后）</div>
            <div class="f-cb mb-quits">
                <!--item-->
                <div class="u-card-img-item bdr-lg bd1 ng-hide" ng-show="Data.yycase.chestCTFFilesView.length" ng-repeat="item in Data.yycase.chestCTFFilesView">
                    <img ng-src="{{item}}" ng-click="ngqViewImages({urls:Data.yycase.chestCTFFilesView,url:item})" alt="" class="f-vam img-full bdr-lg"/>
                </div>
                <div class="ng-hide u-img-list-empty" ng-show="!Data.yycase.chestCTFFilesView.length">未上传</div>
            </div>
        </div>
    </div>

    <div class="g-card-img  f-oh bd1 bg-light pd22 gap-b">
        <div class="m-card-img">
            <div class="mb30 fs24 c-3">首次援助申请评估表扫描件</div>
            <div class="f-cb mb-quits">
                <!--item-->
                <div class="u-card-img-item bdr-lg bd1 ng-hide" ng-show="Data.yycase.assApplyFilesView.length" ng-repeat="item in Data.yycase.assApplyFilesView">
                    <img ng-src="{{item}}" ng-click="ngqViewImages({urls:Data.yycase.assApplyFilesView,url:item})" alt="" class="f-vam img-full bdr-lg"/>
                </div>
                <div class="ng-hide u-img-list-empty" ng-show="!Data.yycase.assApplyFilesView.length">未上传</div>
            </div>
        </div>
    </div>

    <div class="g-card-img  f-oh bd1 bg-light pd22 gap-b">
        <div class="m-card-img">
            <div class="mb30 fs24 c-3">患者告知书，知情书同意书扫描件</div>
            <div class="f-cb mb-quits">
                <!--item-->
                <div class="u-card-img-item bdr-lg bd1 ng-hide" ng-show="Data.yycase.infNotiCirmFilesView.length" ng-repeat="item in Data.yycase.infNotiCirmFilesView">
                    <img ng-src="{{item}}" ng-click="ngqViewImages({urls:Data.yycase.infNotiCirmFilesView,url:item})" alt="" class="f-vam img-full bdr-lg"/>
                </div>
                <div class="ng-hide u-img-list-empty" ng-show="!Data.yycase.infNotiCirmFilesView.length">未上传</div>
            </div>
        </div>
    </div>
    
    <div class="g-card-img  f-oh bd1 bg-light pd22 gap-b">
        <div class="m-card-img">
            <div class="mb30 fs24 c-3">经济评估表扫描件</div>
            <div class="f-cb mb-quits">
                <!--item-->
                <div class="u-card-img-item bdr-lg bd1 ng-hide" ng-show="Data.yycase.ecoEvlFilesView.length" ng-repeat="item in Data.yycase.ecoEvlFilesView">
                    <img ng-src="{{item}}" ng-click="ngqViewImages({urls:Data.yycase.ecoEvlFilesView,url:item})" alt="" class="f-vam img-full bdr-lg"/>
                </div>
                <div class="ng-hide u-img-list-empty" ng-show="!Data.yycase.ecoEvlFilesView.length">未上传</div>
            </div>
        </div>
    </div>
    
    <div class="m-list-group bd1  f-oh bg-light" ng-click="openFlow(Data.yycase.flowId)">
        <!--item-->
        <div class="ub ub-ac m-list-item h69 ph19 j-open-flow">
            <div class="u-icon w32 h32 fi fi-shenpiliucheng"></div>
            <div class="ph18 fs24 c-3 ub-f1">审批流程</div>
            <div class="icon-splc w69 h69"></div>
        </div>
    </div>
    
</div>

<script src="../vendor/appcan-fesdk/js/appcan.js"></script>
<script src="../vendor/appcan-fesdk/js/appcan.control.js"></script>
<script src="../vendor/angular/angular.min.js"></script>
<script src="../vendor/simcere/js/config.js"></script>
<script src="../js/lib.js"></script>
<script src="../js/ng.js"></script>
<script src="../js/ng.YycaseDetail.js"></script>
<script>
    appcan.ready(function () {
//        appcan.initBounce();
        angular.bootstrap(document.documentElement, ['myApp']);
    });

</script>
</body>
</html>
