<!DOCTYPE html>
<html ng-jq class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/ui-box.css">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/ui-base.css">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/ui-color.css">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/appcan.icon.css">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/appcan.control.css">
    <link rel="stylesheet" href="../vendor/angular/angular-csp.css"/>
    <!---->
    <link rel="stylesheet" href="../vendor/appcan-base/css/bundle.nec.size.css"/>
    <link rel="stylesheet" href="../css/lib.css"/>

</head>
<body class="um-vp bc-bg" ontouchstart ng-controller="GlbController">

<div class="g-main pv32 pd20">
    <div class="m-list-group bd1  f-oh gap-b bdr-5" ng-init="isPatientDetailActive==false">
        <!--item-->
        <div class="ub ub-ac m-list-item bg-light h69 ph19 j-toggle-patient" ng-click="isPatientDetailActive=!isPatientDetailActive" ng-class="{'bd-b':isPatientDetailActive}">
            <div class="pr18 fs24 c-3">患者</div>
            <input ng-model="Data.patient.name" type="text" placeholder="未选择(必填)" readonly class="ub-f1 reset-input f-tar ph12 fs24 "/>
            <div class="icon-arrow-r f-dn"></div>
            <div class="ml20 c-9 icon-arrow-r fa-rotate-90" ng-class="{'fa-rotate-270':isPatientDetailActive}"></div>
        </div>

        <!--患者详情-->
        <div class="n-patient-detail ng-hide" ng-show="isPatientDetailActive">
            <!--item-->
            <div class="ub ub-ac m-list-item bg-light h69 ph19 bd-b">
                <div class="pr18 fs24 c-3 ub-f1">性别</div>
                <div class="fs24 c-9 mr12" ng-bind="Data.patient.sexName">女</div>
                <div class="icon-arrow-r f-dn"></div>
            </div>
            <!--item-->
            <div class="ub ub-ac m-list-item bg-light h69 ph19 bd-b">
                <div class="pr18 fs24 c-3">身份证号</div>
                <input type="text" ng-model="Data.patient.idcard" readonly placeholder="未选择(必填)" class="ub-f1 reset-input f-tar ph12 fs24 "/>
                <div class="icon-arrow-r f-dn"></div>
            </div>
            <!--item-->
            <div class="ub ub-ac m-list-item bg-light h69 ph19 bd-b">
                <div class="pr18 fs24 c-3">年龄</div>
                <input type="text" ng-model="Data.patient.age" readonly placeholder="未选择(必填)" class="ub-f1 reset-input f-tar ph12 fs24 "/>
                <div class="icon-arrow-r f-dn"></div>
            </div>
            <!--item-->
            <div class="ub ub-ac m-list-item bg-light h69 ph19 bd-b">
                <div class="pr18 fs24 c-3">联系方式</div>
                <input type="text" ng-model="Data.patient.mobile" readonly placeholder="未选择(必填)" value="18988889999" class="ub-f1 reset-input f-tar ph12 fs24 "/>

                <div class="icon-arrow-r f-dn"></div>
            </div>
            <!--item-->
            <div class="ub ub-ac m-list-item bg-light h69 ph19">
                <div class="pr18 fs24 c-3">联系地址</div>
                <input type="text" ng-model="Data.patient.ssqxView" readonly placeholder="未选择(必填)" value="江苏省南京市玄武区" class="ub-f1 reset-input f-tar ph12 fs24 "/>
                <div class="icon-arrow-r f-dn"></div>
            </div>
            <!--item-->
                        <!---->
            
        </div>
        <!--/患者详情-->
    </div>
    
    <div class="n-patient-detail ng-hide" ng-show="isPatientDetailActive">
        <div class="m-list-group bd1  f-oh gap-b bdr-5 bg-light">
            <div class="ub ub-ac m-list-item h69 ph19 bd-b">
                <div class="u-icon w32 h32 fi fa-money"></div>
                <div class="ph18 fs24 c-3">夫妻双方年总收入</div>
                <input type="text" ng-model="Data.patient.saIncome" readonly placeholder="未填写" class="ub-f1 reset-input f-tar ph12 fs24 "/>
                <div class="fs24 c-9 ng-hide" ng-show="Data.patient.saIncome">万元</div>
            </div>
            <div class="ub ub-ac m-list-item h69 ph19 bd-b">
                <div class="u-icon w32 h32 fi fa-money"></div>
                <div class="ph18 fs24 c-3">其余直系亲属年总收入</div>
                <input type="text" ng-model="Data.patient.lcaIncome" readonly placeholder="未填写" class="ub-f1 reset-input f-tar ph12 fs24 "/>
                <div class="fs24 c-9 ng-hide" ng-show="Data.patient.lcaIncome">万元</div>
            </div>
            <!--item-->
            <div class="ub ub-ac m-list-item h69 ph19 bd-b">
                <div class="u-icon w32 h32 fi fi-yibaoleixing"></div>
                <div class="ph18 fs24 c-3">是否享受医保</div>
                <input type="text" ng-model="Data.patient.isEmiName" readonly placeholder="未选择" class="ub-f1 reset-input f-tar ph12 fs24 "/>
    
                <div class="icon-arrow-r f-dn"></div>
            </div>
            <div class="ub ub-ac m-list-item h69 ph19 bd-b ng-hide" ng-show="Data.patient.isEmiName=='是'">
                <div class="u-icon w32 h32 fi fi-dizhi"></div>
                <div class="ph18 fs24 c-3">医保所属地</div>
                <input type="text" ng-model="Data.patient.miArea" readonly placeholder="未填写" class="ub-f1 reset-input f-tar ph12 fs24 "/>
            </div>
            <!--item-->
            <div class="ub ub-ac m-list-item h69 ph19 bd-b ng-hide" ng-show="Data.patient.isEmiName=='是'">
                <div class="u-icon w32 h32 fi fi-yibaoleixing"></div>
                <div class="ph18 fs24 c-3">医保类型</div>
                <input type="text" ng-model="Data.patient.mitypeName" readonly placeholder="未选择" class="ub-f1 reset-input f-tar ph12 fs24 "/>
    
                <div class="icon-arrow-r f-dn"></div>
            </div>
            <!--item-->
            <div class="ub ub-ac m-list-item h69 ph19 bd-b ng-hide" ng-show="Data.patient.mitypeName=='其他保险'">
                <div class="u-icon w32 h32 fi fi-qitabaoxianmingcheng"></div>
                <div class="ph18 fs24 c-3">其他保险名称</div>
                <input type="text" ng-model="Data.patient.otherIns" readonly placeholder="未填写" class="ub-f1 reset-input f-tar ph12 fs24 "/>
    
                <div class="icon-arrow-r f-dn"></div>
            </div>
            <div class="ub ub-ac m-list-item h69 ph19 bd-b">
                <div class="u-icon w32 h32 fi fi-yysjd"></div>
                <div class="ph18 fs24 c-3">是否需要预约编号</div>
                <input type="text" ng-model="Data.patient.isRnumName" readonly placeholder="未填写" class="ub-f1 reset-input f-tar ph12 fs24 "/>
            </div>
            <div class="ub ub-ac m-list-item h69 ph19 bd-b ng-hide" ng-show="Data.patient.isRnumName=='是'">
            <div class="u-icon w32 h32 fi fi-yysjd"></div>
            <div class="ph18 fs24 c-3">预约编号</div>
            <input type="text" ng-model="Data.patient.rNum" readonly placeholder="未填写" class="ub-f1 reset-input f-tar ph12 fs24 "/>
        </div>
            <div class="ub ub-ac m-list-item h69 ph19 bd-b">
                <div class="u-icon w32 h32 fi fi-aizhong"></div>
                <div class="ph18 fs24 c-3">是否肺癌</div>
                <input type="text" ng-model="Data.patient.isLcancerName" readonly placeholder="未填写" class="ub-f1 reset-input f-tar ph12 fs24 "/>
            </div>
            <div class="ub ub-ac m-list-item h69 ph19">
                <div class="u-icon w32 h32 fi fi-yisheng"></div>
                <div class="ph18 fs24 c-3">项目医生</div>
                <input type="text" ng-model="Data.patient.projDocName" readonly placeholder="未填写" class="ub-f1 reset-input f-tar ph12 fs24 "/>
            </div>
        </div>
        
        <div class="m-list-group bd1  f-oh gap-b bdr-5">
            <div class="g-card-img  f-oh bg-light pd22">
                <div class="m-card-img">
                    <div class="mb30 fs24 c-3">身份证扫描件</div>
                    <div class="f-cb mb-quits">
                        <!--item-->
                        <div class="u-card-img-item bdr-lg bd1 ng-hide" ng-show="Data.patient.idcardFilesView.length" ng-repeat="item in Data.patient.idcardFilesView">
                            <img ng-src="{{item}}" ng-click="ngqViewImages({urls:Data.patient.idcardFilesView,url:item})" alt="" class="f-vam img-full bdr-lg"/>
                        </div>
                        <div class="ng-hide u-img-list-empty" ng-show="!Data.patient.idcardFilesView.length">未上传</div>
                    </div>
                </div>
            </div>
         </div>
        <div class="m-list-group bd1 f-oh gap-b bdr-5">
            <div class="g-card-img  f-oh bg-light pd22">
                <div class="m-card-img">
                    <div class="mb30 fs24 c-3">户口本扫描件</div>
                    <div class="f-cb mb-quits">
                        <!--item-->
                        <div class="u-card-img-item bdr-lg bd1 ng-hide" ng-show="Data.patient.hkFilesView.length" ng-repeat="item in Data.patient.hkFilesView">
                            <img ng-src="{{item}}" ng-click="ngqViewImages({urls:Data.patient.hkFilesView,url:item})" alt="" class="f-vam img-full bdr-lg"/>
                        </div>
                        <div class="ng-hide u-img-list-empty" ng-show="!Data.patient.hkFilesView.length">未上传</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="m-list-group bd1 bdr-5 f-oh bg-light gap-b" ng-init="YyDetailShow=false">
        <div class="ub ub-ac m-list-item h69 pl20">
            <div class="pr18 ub-f1 fs24 c-3" ng-click="YyDetailShow=!YyDetailShow">用药周期信息</div>
            <div class="c-positive pr30" ng-click="caseCreate()">+<span class="fs24">新增诊疗信息</span></div>
            <div class="ml20 c-9 icon-arrow-r fa-rotate-90 pv16 ph19" ng-class="{'fa-rotate-270':YyDetailShow}" ng-click="YyDetailShow=!YyDetailShow"></div>
        </div>
        <!--诊疗信息列表-->
        <div ng-show="YyDetailShow" class="g-list ng-hide" ng-controller="ItemListController">
            <div class="g-spinner" ng-hide="Data.itemList.length||Data.itemListEmpty||Data.itemListErr"><i class="fa fa-spinner fa-spin"></i></div>
            <div class="g-req-empty text-muted ng-hide bd-t" ng-show="Data.itemListEmpty">暂无数据</div>
            <div class="g-req-error text-muted ng-hide bd-t" ng-show="Data.itemListErr">查询失败</div>
            <div class="bd-t" ng-repeat="item in Data.itemList" ng-init="outerIndex = $index;item.onload = false; item.detailActive=false">
                <div class="ub ub-ac m-list-item h69 pl20 bd-b">
                    <div class="ub ub-f1 ub-ac" ng-click="openCaseDetail(item)">
                        <div class="pr18 fs20 c-3">诊疗信息{{$index+1}}</div>
                        <!-- <div class="ub-f1 pr18 fs20 c-9" ng-bind="sMAP[item.state]">全部</div> -->
                        <div class="ub-f1 ub ub-ac">
                            <div class="fs18 c-f p-sh pr18" ng-class="{'bg-warn':item.state==0,'bg-error':item.state==2,'bg-positive':item.state==1||item.state==3||item.state==7,'bg-gray':item.state==4}" ng-bind="sMAP[item.state]">待审核</div>
                        </div>
                        <div class="c-positive pr30"><span class="fs20">查看</span></div>
                    </div>
                    <div class="ml20 c-9 icon-arrow-r fa-rotate-90 pv16 ph19" ng-class="{'fa-rotate-270':item.detailActive}" ng-click="getCycleList(item)"></div>
                </div>
                <!--用药周期列表-->
                <div class="ng-hide" ng-show="item.detailActive">
                    <div class="pl20 m-list-item pt16" ng-click="openCycleDetail(vm,item.state)" ng-repeat="vm in item.cycleList track by $index"  ng-init="innerIndex = $index">
                        <div class="ub ub-ac h50 ph19">
                            <div class="pr18 ub-f1 fs20 c-6">第{{innerIndex+1}}次用药</div>
                            <div class="fs20 c-9">时间段：{{vm.beginDate}}~{{vm.endDate}}</div>
                        </div>
                        <div class="bd-b ub ub-ac h50 ph19 pb16">
                            <div class="pr18 ub-f1 fs20 c-9">支数：{{vm.useCount}}支</div>
                            <div class="c-9 fs20">产品：{{vm.products|joinProducts}}</div>
                        </div>
                    </div>
                </div>
                <div class="ub ub-ac ng-hide" ng-show="item.state!=0 && item.state!=4">
                    <div class="ub-f1 ub ub-ac ub-pc c-positive h48 pv16 m-list-item" ng-class="{'bd-r':item.state=='7'}" ng-click="cycleCreate(item)">+<span class="fs24">新增用药周期</span></div>
                    <div class="ub-f1 ub ub-ac ub-pc fs24 c-f69 h48 pv16 m-list-item" ng-click="cycleSubmit(item)">病例管理提交</div>
                </div>    
            </div>
        </div>
    </div>
    
</div>

<script src="../vendor/appcan-fesdk/js/appcan.js"></script>
<script src="../vendor/appcan-fesdk/js/appcan.control.js"></script>
<script src="../vendor/angular/angular.min.js"></script>
<script src="../vendor/simcere/js/config.js"></script>
<script src="../js/lib.js"></script>
<script src="../js/ng.js"></script>
<script src="../js/ng.YyPatientDetail.js"></script>
<script>
    appcan.ready(function () {
//        appcan.initBounce();
        angular.bootstrap(document.documentElement, ['myApp']);
    });

</script>
</body>
</html>
