<!DOCTYPE html>
<html ng-jq class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/ui-box.css">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/ui-base.css">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/ui-color.css">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/appcan.icon.css">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/appcan.control.css">
    <link rel="stylesheet" href="../vendor/angular/angular-csp.css"/>
    <!---->
    <link rel="stylesheet" href="../vendor/appcan-base/css/bundle.nec.size.css"/>
    <link rel="stylesheet" href="../css/lib.css"/>

</head>
<body class="um-vp bc-bg" ontouchstart ng-controller="GlbController">

<div class="g-list bd-b bg-light" ng-controller="ItemListController">
    <!--spinner-->
    <div class="g-spinner" ng-hide="Data.itemList.length||Data.itemListEmpty||Data.itemListErr"><i class="fa fa-spinner fa-spin"></i></div>
    <div class="g-req-empty text-muted ng-hide" ng-show="Data.itemListEmpty">暂无数据</div>
    <div class="g-req-error text-muted ng-hide" ng-show="Data.itemListErr">查询失败</div>

    <!--item-->
    <div class="m-item pv21 ml36  ub ng-hide" ng-class="{'bd-b':!$last}" ng-click="useZw(item)" ng-show="Data.itemList.length" ng-repeat="item in Data.itemList">
        <div class="w36 h36 fi fi-zhiwu mh5"></div>
        <div class="fs24 c-3" ng-bind="item.name">院长</div>
    </div>

</div>

<script src="../vendor/appcan-fesdk/js/appcan.js"></script>
<script src="../vendor/appcan-fesdk/js/appcan.control.js"></script>
<script src="../vendor/simcere/js/config.js"></script>
<script src="../vendor/angular/angular.js"></script>
<script src="../js/lib.js"></script>
<script src="../js/ng.ZwSelect.js"></script>
<script>
    appcan.ready(function () {
//        appcan.initBounce();
        angular.bootstrap(document.documentElement, ['myApp']);
    });


</script>
</body>
</html>
