<!DOCTYPE html>
<html ng-jq class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/ui-box.css">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/ui-base.css">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/ui-color.css">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/appcan.icon.css">
    <link rel="stylesheet" href="../vendor/appcan-fesdk/css/appcan.control.css">
    <link rel="stylesheet" href="../vendor/angular/angular-csp.css"/>
    <!---->
    <link rel="stylesheet" href="../vendor/appcan-base/css/bundle.nec.size.css"/>
    <link rel="stylesheet" href="../css/lib.css"/>

</head>
<body class="um-vp bc-bg" ontouchstart ng-controller="GlbController">

<div class="g-main pv32 ph20">
    <div class="m-list-group bd1 bdr-lg f-oh bg-light gap-b">
        <!--item-->
        <div class="ub ub-ac m-list-item h69 ph19 bd-b" ng-click="openDateRangeSelect()">
            <div class="u-icon w32 h32 fi fi-yysjd"></div>
            <div class="ph18 fs24 c-3">用药时间段</div>
            <input type="text" ng-model="Data.begin_end_View" placeholder="未填写(必填)" readonly="" value="" class="ub-f1 reset-input f-tar ph12 fs24 "/>

            <div class="icon-arrow-r f-ivh"></div>
        </div>
        <!--item-->
        <div class="ub ub-ac m-list-item h69 ph19 bd-b">
            <div class="u-icon w32 h32 fi fi-yyzs"></div>
            <div class="ph18 fs24 c-3">用药支数</div>
            <input type="text" ng-model="Data.useCount" placeholder="未填写(必填)" class="ub-f1 reset-input f-tar ph12 fs24 "/>

            <div class="icon-arrow-r f-ivh"></div>
        </div>
        <!--item-->
        <div class="ub ub-ac m-list-item h69 ph19 bd-b" ng-click="openProductSelect()">
            <div class="u-icon w32 h32 fi fi-chanpin"></div>
            <div class="ph18 fs24 c-3">产品</div>
            <input type="text" ng-model="Data.productValue" readonly="" placeholder="未填写(必填)" class="ub-f1 reset-input f-tar ph12 fs24 "/>

            <div class="icon-arrow-r f-ivh"></div>
        </div>
        <!--item-->
        <div class="ub ub-ac m-list-item h69 ph19 bd-b" ng-click="openYlpjSelect()">
            <div class="u-icon w32 h32 fi fi-yiliaopingjia"></div>
            <div class="ph18 fs24 c-3">医疗评价</div>
            <input type="text" ng-model="Data.commentsName" readonly="" placeholder="未填写" class="ub-f1 reset-input f-tar ph12 fs24 "/>

            <div class="icon-arrow-r"></div>
        </div>
        <!--item-->
        <div class="ub ub-ac m-list-item h69 ph19 bd-b ng-hide" ng-show="Data.commentsName=='PD'" ng-click="openPDtimeSelect()">
            <div class="u-icon w32 h32 fi fi-yysjd"></div>
            <div class="ph18 fs24 c-3">PD时间</div>
            <input type="text" ng-model="Data.pdTime" readonly="" placeholder="未填写" class="ub-f1 reset-input f-tar ph12 fs24 "/>

            <div class="icon-arrow-r f-ivh"></div>
        </div>
        <!--item-->
        <div class="ub ub-ac m-list-item h69 ph19 bd-b" ng-click="setRegimen()">
            <div class="u-icon w32 h32 fi fi-bingli"></div>
            <div class="ph18 fs24 c-3">治疗方案</div>
            <input type="text" ng-model="Data.RegimenName" readonly="" placeholder="未填写" class="ub-f1 reset-input f-tar ph12 fs24 "/>

            <div class="icon-arrow-r f-ivh"></div>
        </div>
        <!--item-->
        <div class="ub ub-ac m-list-item h69 ph19 bd-b ng-hide" ng-show="Data.theraRegimenName=='联合治疗' && Data.combinedTreatName=='化疗'" ng-click="setChemoRegimen()">
            <div class="u-icon w32 h32 fi fi-bingli"></div>
            <div class="ph18 fs24 c-3">化疗方案</div>
            <input type="text" ng-model="Data.chemoRegimenName" readonly="" placeholder="未填写" class="ub-f1 reset-input f-tar ph12 fs24 "/>

            <div class="icon-arrow-r"></div>
        </div>
        
    </div>

   
    <!---->
    <div class="g-card-img bdr-lg f-oh bd1 bg-light pd22 gap-b">
        <div class="m-card-img">
            <div class="mb30 fs24 c-3">门诊病历卡/住院小结(体现恩度治疗记录)扫描件</div>
            <div class="f-cb mb-quits" id="id3">
                <div class="u-card-img-item bdr-lg f-oh icon-camera-p" ng-click="addImage(Data, 'caseCardFiles')"></div>
                <!--item-->
                <div class="u-card-img-item bdr-lg bd1 ng-hide" ng-show="Data.caseCardFilesView.length" ng-repeat="item in Data.caseCardFilesView">
                    <img ng-src="{{item}}" ng-click="ngqViewImages({urls:Data.caseCardFilesView,url:item})" alt="" class="f-vam img-full bdr-lg"/>
                    <i class="u-card-img-rm" ng-click="ngqRemoveImage(Data, 'caseCardFiles', $index)"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="g-card-img bdr-lg f-oh bd1 bg-light pd22 gap-b">
        <div class="m-card-img">
            <div class="mb30 fs24 c-3">胸部CT报告(当前)</div>
            <div class="f-cb mb-quits">
                <div class="u-card-img-item bdr-lg f-oh icon-camera-p" ng-click="addImage(Data, 'chestCtbFiles')"></div>
                <!--item-->
                <div class="u-card-img-item bdr-lg bd1 ng-hide" ng-show="Data.chestCtbFilesView.length" ng-repeat="item in Data.chestCtbFilesView">
                    <img ng-src="{{item}}" ng-click="ngqViewImages({urls:Data.chestCtbFilesView,url:item})" alt="" class="f-vam img-full bdr-lg"/>
                    <i class="u-card-img-rm" ng-click="ngqRemoveImage(Data, 'chestCtbFilesView', $index)"></i>
                </div>
            </div>
        </div>
    </div>
    
    <div class="g-card-img bdr-lg f-oh bd1 bg-light pd22 gap-b">
        <div class="m-card-img">
            <div class="mb30 fs24 c-3">后续援助申请表</div>
            <div class="f-cb mb-quits">
                <div class="u-card-img-item bdr-lg f-oh icon-camera-p" ng-click="addImage(Data, 'fupApplyFiles')"></div>
                <!--item-->
                <div class="u-card-img-item bdr-lg bd1 ng-hide" ng-show="Data.fupApplyFilesView.length" ng-repeat="item in Data.fupApplyFilesView">
                    <img ng-src="{{item}}" ng-click="ngqViewImages({urls:Data.fupApplyFilesView,url:item})" alt="" class="f-vam img-full bdr-lg"/>
                    <i class="u-card-img-rm" ng-click="ngqRemoveImage(Data, 'fupApplyFiles', $index)"></i>
                </div>
            </div>
        </div>
    </div>
    
    <div class="g-card-img bdr-lg f-oh bd1 bg-light pd22 gap-b">
        <div class="m-card-img">
            <div class="mb30 fs24 c-3">援助药品使用记录</div>
            <div class="f-cb mb-quits">
                <div class="u-card-img-item bdr-lg f-oh icon-camera-p" ng-click="addImage(Data, 'aidDrugRecordsFiles')"></div>
                <!--item-->
                <div class="u-card-img-item bdr-lg bd1 ng-hide" ng-show="Data.aidDrugRecordsFilesView.length" ng-repeat="item in Data.aidDrugRecordsFilesView">
                    <img ng-src="{{item}}" ng-click="ngqViewImages({urls:Data.aidDrugRecordsFilesView,url:item})" alt="" class="f-vam img-full bdr-lg"/>
                    <i class="u-card-img-rm" ng-click="ngqRemoveImage(Data, 'aidDrugRecordsFiles', $index)"></i>
                </div>
            </div>
        </div>
    </div>
    
    <div class="m-list-group bd1  f-oh bg-light" ng-click="openFlow(Data.flowId)">
        <!--item-->
        <div class="ub ub-ac m-list-item h69 ph19 j-open-flow">
            <div class="u-icon w32 h32 fi fi-shenpiliucheng"></div>
            <div class="ph18 fs24 c-3 ub-f1">审批流程</div>
            <div class="icon-splc w69 h69"></div>
        </div>
    </div>

    
</div>

<script src="../vendor/appcan-fesdk/js/appcan.js"></script>
<script src="../vendor/appcan-fesdk/js/appcan.control.js"></script>
<script src="../vendor/angular/angular.min.js"></script>
<script src="../vendor/simcere/js/config.js"></script>
<script src="../js/lib.js"></script>
<script src="../js/main.js"></script>
<script src="../js/ng.js"></script>
<script src="../js/ng.ZyzqCreate.js"></script>
<script>
    appcan.ready(function () {
//        appcan.initBounce();
        angular.bootstrap(document.documentElement, ['myApp']);
    });
    
    
    
    
</script>
</body>
</html>
